body {
	background-color: white;
	background-image: url("background.JPG");
	background-repeat: no-repeat;
	background-color:white;
	top: 0 px;
	right: 0 px;
	width: 30%;
    height: 30%;
	position:absolute;
}


p{
	text-align:center;
	font-family: "Great Vibes", Helvetica, sans-serif;
	font-style: bold;
	font-size: 18pt;
}


#main {
    
}

#logo{
	font-family:  'Tangerine', serif;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;
	right:50%;
	top:50%;
	position: absolute;
}
  
