<!DOCTYPE html>
<html>
  <style type="text/css" id="night-mode-pro-style"></style>
  <link type="text/css" rel="stylesheet" id="night-mode-pro-link">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Colleigate Store+</title>

    <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/css/bootstrap.min.css" />
    <link href="stylesheets/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column hidden">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Colleigate Store+</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="report.html">Report</a>
            <a class="nav-link" href="" data-toggle="modal" data-target="#contact">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">360 Mode</h1>
        <p class="lead">360 Mode is a mode that provides panoramic views from positions along all aisles in the collegiate store in RPI.</p>
        <p class="lead">
          <a class="btn btn-lg btn-secondary enter" href="view.html">Enter</a>
        </p>
      </main>

      <!-- FOOTER -->
      <footer class="mastfoot mt-auto">
        <p>Colleigate Store+ is an open source platform on <a href="https://rcos.io/">RCOS</a>.<br/>We love feedback! <a href="https://github.com/VRHSGroup/Collegiate-Store/">Github</a></p>
      </footer>

      <!-- Modal -->
      <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="contactLabel">Contact</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <contact>
                <a href="https://github.com/shikanchen"><font color="#000000">Shikan Chen</font></a>
              </contact>
              <contact>
                <a href="https://github.com/timli421"><font color="#000000">Tianyi Li</font></a>
              </contact>
              <contact>
                <a href="https://github.com/linlinbest"><font color="#000000">Zhuohao Lin</font></a>
              </contact>
              <contact>
                <a href="https://github.com/Darkknight6940"><font color="#000000">Sitong Liu</font></a>
              </contact>
              <contact>
                <a href="https://github.com/HelenWu11"><font color="#000000">Ruoyan Wu</font></a>
              </contact>
              <contact>
                <a href="https://github.com/jasonht233"><font color="#000000">Haotian Zhang</font></a>
              </contact>
              <contact>
                <a href="https://github.com/MadaoIsMyBrother"><font color="#000000">Zejie Zhou</font></a>
              </contact>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script type="text/javascript" src="frameworks/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>


  </body>
</html>
