<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="frameworks/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="frameworks/bootstrap/js/bootstrap.min.js"></script>>
	<title>Colleigate Store+</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Colleigate Store+</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Colleigate book store original sidelink</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Report</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
        <h2>New arrival</h2>
        <p>[API REQUIRED]</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
        <h2>Favorites</h2>
        <p>[API REQUIRED]</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
        <h2>Sale&Clearance</h2>
        <p>[API REQUIRED]</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">books<span class="text-muted">title 2</span></h2>
        <p>[API REQUIRED]</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="tmp/Pikachu1.png" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">apparel&accessories<span class="text-muted">title 2</span></h2>
        <p class="lead">[API REQUIRED]</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" alt="500x500" src="tmp/Pikachu2.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">gifts&collectibles<span class="text-muted">title 3</span></h2>
        <p class="lead">[API REQUIRED]</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="tmp/Pikachu3.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>Colleigate Store+ is an open source platform on <a href="https://rcos.io/">RCOS</a>. We love feedback! <a href="https://github.com/VRHSGroup/Collegiate-Store/">Github</a></p>
  </footer>
</main>
</body>
</html>