<!DOCTYPE html>
<html>
  <!-- TODO change report.html into dark theme sync with index.html -->
  <style type="text/css" id="night-mode-pro-style"></style>
  <link type="text/css" rel="stylesheet" id="night-mode-pro-link">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Problems Report</title>
    <link rel="stylesheet" href="../View/frameworks/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/report.css" type="text/css" />
    <script src="../View/javascripts/report.js" type="text/javascript"></script>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="./Checkout example for Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Problems Report</h2>
        <p class="lead">Please fill the following form to give us a feedback.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Why is your feedback so important to us!</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Feedback is there all the time</h6>
                <small class="text-muted">Every time we speak or listen to another person, in our tone of voice, in the words we use, in the silences which we allow, we communicate feedback.</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Feedback is just another word for effective listening</h6>
                <small class="text-muted">When one human being speaks to another, he or she needs to experience two very fundamental things - they need to know that they have been understood, and they need to feel that what they said had some form of value.</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Feedback is an opportunity to motivate</h6>
                <small class="text-muted">Positive feedback is another word for praise, and is all about taking the opportunity to express appreciation of a job well done, in the hope of inspiring an individual to do many more jobs even better.</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">We need your feedback!</h6>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Information</h4>
          <form class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your RPI username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@rpi.edu</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit report</button>
          </form>
        </div>
      </div>
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>Colleigate Store+ is an open source platform on <a href="https://rcos.io/">RCOS</a>. We love feedback! <a href="https://github.com/VRHSGroup/Collegiate-Store/">Github</a></p>
      </footer>
    </div>

    <script src="../View/javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../View/frameworks/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./Checkout example for Bootstrap_files/popper.min.js"></script>
    <script src="./Checkout example for Bootstrap_files/holder.min.js"></script>
    <script>
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
</body>
</html>
