<!DOCTYPE html>
<html>
  <style type="text/css" id="night-mode-pro-style"></style>
  <link type="text/css" rel="stylesheet" id="night-mode-pro-link">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Colleigate Store+</title>

    <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="frameworks/jquery-ui/jquery-ui.min.css" />
    <link href="stylesheets/cover.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/view.css" />
  </head>

  <body class="text-center">
    <button class="round transparent up"><img class="arrow" src="fonts/outline-expand_less.svg" /></button>
    <button class="round transparent down"><img class="arrow" src="fonts/outline-expand_more.svg" /></button>
    <button class="round transparent left"><img class="arrow" src="fonts/outline-chevron_left.svg" /></button>
    <button class="round transparent right"><img class="arrow" src="fonts/outline-chevron_right.svg" /></button>
    <div id="mycanvas">
      <img id="myblock" src="../Data/010.jpg" />
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script type="text/javascript" src="frameworks/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="frameworks/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/jcanvas.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>

  </body>
</html>
